@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Jost:wght@300;400;500;600&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Heebo:wght@300;400&family=Jost:wght@300;400;500;600&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Condensed&display=swap");

@import "abstracts/mixin";
@import "abstracts/reset";
@import "abstracts/variable";
@import "layouts/homepage";
@import "mediaquery/query";
