@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Jost:wght@300;400;500;600&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Heebo:wght@300;400&family=Jost:wght@300;400;500;600&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Condensed&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}

html {
  font-family: "Jost", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

.header_top {
  background-color: #fff;
  padding: 8px 0;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.103);
}
.header_top_container {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
}
.header_top_list_item {
  margin-right: 15px;
  padding-right: 15px;
  line-height: 1.5em;
  color: #212529;
  cursor: pointer;
}
.header_top_contact {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_top_contact_item {
  color: #212529;
  border-right: 1px rgba(128, 128, 128, 0.236) solid;
  margin-right: 15px;
  padding-right: 15px;
  line-height: 1.5em;
  cursor: pointer;
}
.header_top_icons {
  color: #74706b;
}
.header_top_icons_prop {
  cursor: pointer;
  margin-right: 16px;
}
.header_top_icons_prop:hover {
  transition: all 0.4s ease-in-out 0s;
  transform: rotateY(0.5turn);
  color: #ff2020;
}

.header_middle {
  padding: 24px 0;
  font-size: 1.6rem;
  background-color: #fff;
}
.header_middle_container {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header_middle_logo {
  background-image: url("../sass/image/homepage/headerLogo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 4.8rem;
}
.header_middle .header_middle_nav.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s linear;
}
.header_middle_nav {
  z-index: 20;
}
.header_middle_nav_pages {
  display: flex;
  position: relative;
}
.header_middle_nav_pages:hover .header_middle_nav_pages_item {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s linear;
}
.header_middle_nav_pages_item {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  background-color: #fff;
  position: absolute;
  top: 100%;
  width: 20rem;
  padding: 5px 0;
  border: none;
  border-radius: 4px;
}
.header_middle_nav_angle {
  padding-left: 10px;
  font-size: 10px;
}
.header_middle_nav_right_angle {
  font-size: 10px;
  padding-left: 10px;
}
.header_middle_nav_list {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_middle_nav_list li {
  color: #141517;
  margin: 0 20px;
  font-weight: 600;
  line-height: 1.5em;
  cursor: pointer;
}
.header_middle_nav_list li:hover {
  color: #ff2020;
  transition: all 0.2s linear;
}
.header_middle_nav_list .new {
  position: relative;
  display: inline-block;
}
.header_middle_nav_list .new::before {
  content: "New";
  position: absolute;
  background: #ff2020;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 10px;
  top: -12px;
  right: -10px;
  padding: 1px 4px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: normal;
}
.header_middle_left {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_middle_left_menu {
  padding-right: 30px;
}
.header_middle_left_menu_bar {
  font-size: 20px;
}
.header_middle_left_menu_bar.fa-times {
  transform: rotate(180deg);
}
.header_middle_right {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_middle_right_icon {
  margin: 0 20px;
}
.header_middle_right_icon_prop:hover {
  color: #ff2020;
  transition: all 0.2s linear;
  cursor: pointer;
}
.header_middle_right_icon_prop {
  font-size: 20px;
  font-weight: 400;
  color: #292621;
}
.header_middle_right_shopping_cart {
  position: relative;
}
.header_middle_right_cart_count {
  position: absolute;
  right: -14px;
  top: -18px;
  background-color: #ff2020;
  border-radius: 50%;
  padding: 1px 7px;
  font-size: 12px;
  color: white;
}
.header_middle .search_box {
  position: relative;
  z-index: 999;
  margin-top: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header_middle .search_box_prop {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_middle .search_box_xmark {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
}
.header_middle .search_box_input {
  background-color: #ff2020;
  color: white;
  border: none;
  padding: 0;
  width: 100%;
  padding: 16px 14px;
}
.header_middle .search_box_input::-moz-placeholder {
  font-weight: 500;
  color: white;
}
.header_middle .search_box_input::placeholder {
  font-weight: 500;
  color: white;
}
.header_middle .search_box.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s linear;
}
.header_middle .search_box.close {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.4s linear;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.modal_header {
  text-align: center;
}
.modal_header h2 {
  padding: 15px 0;
}
.modal .modal_xmark {
  color: #ff2020;
  font-size: 30px;
  top: 16px;
}
.modal_check {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal_check_input input {
  accent-color: #ff2020;
  width: 20px;
  height: 16px;
}
.modal_check_input label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_submit {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal_submit_que span a {
  color: #ff2020;
  cursor: pointer;
}
.modal_submit_login {
  color: white;
  background-color: #ff2020;
  cursor: pointer;
  padding: 10px 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal_form {
  padding-top: 60px;
}
.modal_form_username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.modal_form_username label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_form_username input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_username input::placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}
.modal_form_password label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_form_password input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_password input::placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}
.modal_form_email label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_form_email input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_email input::placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_email_input {
  width: 50rem;
  padding: 10px;
  border: 1px rgba(128, 128, 128, 0.19) solid;
  margin-top: 10px;
}
.modal_form_password_input {
  width: 50rem;
  padding: 10px;
  border: 1px rgba(128, 128, 128, 0.19) solid;
  margin-top: 10px;
}

.modal_forgot_passw {
  cursor: pointer;
  color: #ff2020;
}

.fixed_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
}

.header_bottom {
  background-color: #16161a;
  position: relative;
  top: -47px;
}
.header_bottom_text {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  padding: 14.5px 0;
}
.header_bottom_text span {
  color: #cebd9c;
  text-decoration: underline;
  cursor: pointer;
}

.banner {
  position: relative;
  top: -74px;
}

.swiper {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.image1 {
  background-image: url("../sass/image/homepage/h1_hero1.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image2 {
  background-image: url("../sass/image/homepage/h1_hero2.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_text {
  width: 54rem;
}
.banner_text h2 {
  font-family: "Clicker Script", cursive;
  font-size: 5rem;
  color: #ff2020;
  line-height: 1.2em;
}
.banner_text_title {
  font-size: 5rem;
  font-weight: 500;
}
.banner_text_info {
  font-size: 1.8rem;
  font-weight: 400;
  color: #74706b;
  line-height: 1.6em;
  padding: 0 50px;
  margin-bottom: 30px;
}

.banner_button {
  font-size: 1.4rem;
  padding: 15px 47px;
  line-height: 1.2em;
  font-weight: 500;
  background-color: #292621;
}

.banner_text_container {
  position: relative;
  top: 38%;
}

.banner_text_container_left {
  left: 40%;
}

.banner_text_title {
  --animate-duration: 1.5s;
  --animate-delay: 0.2s;
}

.category_item {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.category_item h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2em;
  margin: 10px 0;
}
.category_item a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cebd9c;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}
.category_item_men {
  background-image: linear-gradient(to bottom, rgba(41, 38, 33, 0) 40%, #292621 100%), url("../sass/image/homepage/items1.jpg.webp");
  width: 41rem;
  height: 36rem;
}
.category_item_women {
  background-image: linear-gradient(to bottom, rgba(41, 38, 33, 0) 40%, #292621 100%), url("../sass/image/homepage/items2.jpg.webp");
  width: 41rem;
  height: 36rem;
}
.category_item_baby {
  background-image: linear-gradient(to bottom, rgba(41, 38, 33, 0) 40%, #292621 100%), url("../sass/image/homepage/items3.jpg.webp");
  width: 41rem;
  height: 36rem;
}
.category_item_details {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.category_item_details:hover .category_item_details_btn {
  opacity: 1;
  visibility: visible;
  padding-bottom: 40px;
}

.category_item_details:hover {
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.mySwiper2 {
  width: 100%;
  height: 440px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_items {
  background-image: url("../sass/image/homepage/latest1.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
}

.product {
  margin-top: 100px;
}

.product_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_text {
  color: #292621;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 14px 0;
}

.product_price {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.product_price .product_new_price {
  margin-right: 10px;
  color: #74706b;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
}
.product_price .product_old_price {
  margin-left: 10px;
  color: #cebd9c;
  text-decoration: line-through;
}

.header_middle_left_menu {
  display: none;
}

.header_middle_nav_pages_item li {
  margin-left: 4px;
}

.header_middle_nav_right_angle {
  display: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .header_middle_nav_list li {
    margin: 0 10px;
  }
  .product_items {
    height: 300px;
  }
}
@media screen and (max-width: 992px) {
  .header_top_list_item {
    margin-right: 0;
  }
  .header_top_contact {
    display: flex;
    flex-direction: _;
    justify-content: space-between;
    align-items: center;
  }
  .header_middle_left_menu {
    display: block;
  }
  .header_middle_container {
    position: relative;
  }
  .header_middle_nav {
    width: 100%;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
  }
  .header_middle_nav_list {
    display: block;
    margin: 10px 0;
  }
  .header_middle_nav_list li {
    margin: 10px 5px;
  }
  .header_middle_nav_angle {
    display: none;
  }
  .header_middle_nav_right_angle {
    display: block;
  }
  .header_middle_nav_pages:hover,
  .header_middle_nav_pages_item {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .header_middle_nav_pages_item {
    display: none;
  }
  .swiper {
    height: 500px;
  }
  .banner_text_container {
    top: 24%;
  }
  .banner_text_container_left {
    left: 30%;
  }
  .category_item_details {
    height: 26rem;
  }
}
@media screen and (max-width: 768px) {
  .header_top_container {
    display: block;
  }
  .header_top_list {
    display: none;
  }
  .swiper {
    height: 400px;
  }
  .banner_text_container_left {
    left: 12%;
  }
  .category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .modal_submit_login {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .modal_submit {
    flex-direction: column;
  }
  .modal_form_password_input,
  .modal_form_email_input {
    width: 30rem;
  }
  .swiper {
    height: 360px;
  }
  .banner_text_container {
    position: static;
  }
  .banner_text {
    margin: 0 auto;
    padding-top: 50px;
  }
}
.container,
.container_text {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .container_text {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container,
  .container_text {
    max-width: 1320px;
  }
}/*# sourceMappingURL=main.css.map */