@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Jost:wght@300;400;500;600&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Heebo:wght@300;400&family=Jost:wght@300;400;500;600&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Condensed&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}

html {
  font-family: "Jost", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

.header_top {
  background-color: #fff;
  padding: 8px 0;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.103);
}
.header_top_container {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
}
.header_top_list_item {
  margin-right: 15px;
  padding-right: 15px;
  line-height: 1.5em;
  color: #212529;
  cursor: pointer;
}
.header_top_contact {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_top_contact_item {
  color: #212529;
  border-right: 1px rgba(128, 128, 128, 0.236) solid;
  margin-right: 15px;
  padding-right: 15px;
  line-height: 1.5em;
  cursor: pointer;
}
.header_top_icons {
  color: #74706b;
}
.header_top_icons_prop {
  cursor: pointer;
  margin-right: 16px;
}
.header_top_icons_prop:hover {
  transition: all 0.4s ease-in-out 0s;
  transform: rotateY(0.5turn);
  color: #ff2020;
}

.success_message_text {
  margin: 0 auto;
  position: relative;
  z-index: 1001;
  padding: 10px 0;
  background-color: green;
  color: white;
  text-align: center;
}

.display_hidden_msg {
  display: none;
}

.header_middle {
  padding: 12px 0;
  font-size: 1.6rem;
  background-color: #fff;
}
.header_middle_container {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header_middle_logo, .header_middle_logo2 {
  background-image: url("../sass/image/homepage/headerLogo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 4.8rem;
}
.header_middle_logo a, .header_middle_logo2 a {
  width: 100%;
  height: 100%;
}
.header_middle_logo2 {
  margin: 0 auto;
}
.header_middle .header_middle_nav.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s linear;
}
.header_middle_nav {
  z-index: 999;
}
.header_middle_nav_pages {
  display: flex;
  position: relative;
}
.header_middle_nav_pages_title {
  display: flex;
  padding: 5px 0;
}
.header_middle_nav_pages:hover .header_middle_nav_pages_item {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s linear;
}
.header_middle_nav_pages_item {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  background-color: #fff;
  position: absolute;
  top: 100%;
  width: 20rem;
  padding: 5px 0;
  left: 20px;
  border: none;
  border-top: 3px solid #ff2020;
  border-radius: 4px;
}
.header_middle_nav_angle {
  padding-left: 10px;
  font-size: 10px;
}
.header_middle_nav_right_angle {
  font-size: 10px;
  padding-left: 10px;
}
.header_middle_nav_list {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_middle_nav_list li a {
  color: #141517;
  margin: 0 20px;
  font-weight: 600;
  line-height: 1.5em;
  cursor: pointer;
}
.header_middle_nav_list li {
  color: #141517;
  font-weight: 600;
  line-height: 1.5em;
  cursor: pointer;
}
.header_middle_nav_list .link_cart {
  margin: 0;
}
.header_middle_nav_list li:hover {
  color: #ff2020;
  transition: all 0.2s linear;
}
.header_middle_nav_list .link_cart:hover {
  color: #ff2020;
  transition: all 0.2s linear;
}
.header_middle_nav_list .new {
  position: relative;
  display: inline-block;
}
.header_middle_nav_list .new::before {
  content: "New";
  position: absolute;
  background: #ff2020;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 10px;
  top: -12px;
  right: -10px;
  padding: 1px 4px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: normal;
}
.header_middle_left {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_middle_left_menu {
  padding-right: 30px;
}
.header_middle_left_menu_bar {
  font-size: 20px;
}
.header_middle_left_menu_bar.fa-times {
  transform: rotate(180deg);
}
.header_middle_right {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.header_middle_right_icon {
  margin: 0 20px;
}
.header_middle_right_icon_prop:hover {
  color: #ff2020;
  transition: all 0.2s linear;
  cursor: pointer;
}
.header_middle_right_icon_prop {
  font-size: 20px;
  font-weight: 400;
  color: #292621;
}
.header_middle_right_shopping_cart {
  position: relative;
}
.header_middle_right_cart_count {
  position: absolute;
  right: -14px;
  top: -18px;
  background-color: #ff2020;
  border-radius: 50%;
  padding: 1px 7px;
  font-size: 12px;
  color: white;
}
.header_middle .search_box {
  position: relative;
  z-index: 300;
  margin-top: 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.header_middle .search_box_prop {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_middle .search_box_xmark {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
}
.header_middle .search_box_input {
  background-color: #ff2020;
  color: white;
  border: none;
  padding: 0;
  width: 100%;
  padding: 16px 14px;
}
.header_middle .search_box_input::-moz-placeholder {
  font-weight: 500;
  color: white;
}
.header_middle .search_box_input::placeholder {
  font-weight: 500;
  color: white;
}
.header_middle .search_box.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.4s linear;
}
.header_middle .search_box.close {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.4s linear;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.modal_header {
  text-align: center;
}
.modal_header h2 {
  padding: 15px 0;
}
.modal .modal_xmark {
  color: #ff2020;
  font-size: 30px;
  top: 16px;
}
.modal_check {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal_check_input input {
  accent-color: #ff2020;
  width: 20px;
  height: 16px;
}
.modal_check_input label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_submit {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal_submit_que span a {
  color: #ff2020;
  cursor: pointer;
}
.modal_submit_login {
  color: white;
  background-color: #ff2020;
  cursor: pointer;
  padding: 10px 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.5s;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal_form {
  padding-top: 60px;
}
.modal_form_username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.modal_form_username label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_form_username input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_username input::placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.2rem;
}
.modal_form_password div {
  font-size: 1.2rem;
  overflow: hidden;
}
.modal_form_password label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_form_password input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_password input::placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.2rem;
}
.modal_form_email label {
  font-style: 1.7rem;
  font-weight: 500;
}
.modal_form_email input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_email input::placeholder {
  color: rgba(128, 128, 128, 0.434);
}
.modal_form_email_input {
  width: 50rem;
  padding: 10px;
  border: 1px rgba(128, 128, 128, 0.19) solid;
  margin-top: 10px;
}
.modal_form_password_input {
  width: 50rem;
  padding: 10px;
  border: 1px rgba(128, 128, 128, 0.19) solid;
  margin-top: 10px;
}

.register_warn_msg {
  opacity: 0;
  color: #ff2020;
  transition: all 0.4s ease-in;
}

.modal {
  overflow-y: auto;
  max-height: 100%;
}

.modal_forgot_passw {
  cursor: pointer;
  color: #ff2020;
}

.fixed_header {
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.271);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  background-color: #fff;
}

.header_bottom {
  z-index: 50;
  background-color: #16161a;
  position: relative;
  top: -47px;
}
.header_bottom_text {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  padding: 12px 0;
}
.header_bottom_text span {
  color: #cebd9c;
  text-decoration: underline;
  cursor: pointer;
}

.banner {
  position: relative;
  top: -74px;
}

.swiper {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.image1 {
  background-image: url("../sass/image/homepage/h1_hero1.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image2 {
  background-image: url("../sass/image/homepage/h1_hero2.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_text {
  width: 54rem;
}
.banner_text h2 {
  font-family: "Clicker Script", cursive;
  font-size: 5rem;
  color: #ff2020;
  line-height: 1.2em;
}
.banner_text_title {
  font-size: 5rem;
  font-weight: 500;
}
.banner_text_info {
  font-size: 1.8rem;
  font-weight: 400;
  color: #74706b;
  line-height: 1.6em;
  padding: 0 50px;
  margin-bottom: 30px;
}

.banner_button {
  font-size: 1.4rem;
  padding: 15px 47px;
  line-height: 1.2em;
  font-weight: 500;
  background-color: #292621;
}

.banner_text_container {
  position: relative;
  top: 38%;
}

.banner_text_container_left {
  left: 40%;
}

.banner_text_title {
  --animate-duration: 1.5s;
  --animate-delay: 0.2s;
}

.category_item {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.category_item h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2em;
  margin: 10px 0;
}
.category_item a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cebd9c;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}
.category_item_men {
  background-image: linear-gradient(to bottom, rgba(41, 38, 33, 0) 40%, #292621 100%), url("../sass/image/homepage/items1.jpg.webp");
  width: 41rem;
  height: 36rem;
}
.category_item_women {
  background-image: linear-gradient(to bottom, rgba(41, 38, 33, 0) 40%, #292621 100%), url("../sass/image/homepage/items2.jpg.webp");
  width: 41rem;
  height: 36rem;
}
.category_item_baby {
  background-image: linear-gradient(to bottom, rgba(41, 38, 33, 0) 40%, #292621 100%), url("../sass/image/homepage/items3.jpg.webp");
  width: 41rem;
  height: 36rem;
}
.category_item_details {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.category_item_details:hover .category_item_details_btn {
  opacity: 1;
  visibility: visible;
  padding-bottom: 40px;
}

.category_item_details:hover {
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.mySwiper2,
.mySwiper3 {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_button_prop {
  background-color: rgba(0, 0, 0, 0.0901960784);
  padding: 50px 25px;
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}

.swiper_button_prop2 {
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}

.product_items {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
}
.product_items_prop {
  background-color: #fff;
  display: none;
}
.product_items_prop i {
  font-size: 3rem;
  padding: 8px 10px;
  color: #292621;
}

.product_items:hover {
  transition: all 0.4s linear;
  transform: scale(1.04);
}
.product_items:hover .product_items_prop {
  display: inline-block;
}

.hover_icon_prop:hover {
  transition: all 0.4s linear;
  background-color: #ff2020;
  color: white;
}

.product {
  margin: 80px 0;
}
.product_header {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  border-bottom: 1px solid #74706b;
}
.product_header h1 {
  font-size: 3.4rem;
  color: #292621;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
.product_header_category {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
  color: #292621;
  font-size: 1.6rem;
  font-weight: 500;
}
.product_header_category p {
  border: 0;
  transition: all 0.1s linear;
  border-bottom: 4px solid transparent;
  background: none;
  margin-right: 15px;
  padding: 39px 1.2rem;
  padding-top: 0;
  color: #141517;
  cursor: pointer;
}
.product_header_category p:hover {
  color: #ff2020;
  border-bottom: 4px solid #ff2020;
}

.product_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_text {
  color: #292621;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 14px 0;
}

.product_price {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.product_price .product_new_price {
  margin-right: 10px;
  color: #74706b;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
}
.product_price .product_old_price {
  margin-left: 10px;
  color: #cebd9c;
  text-decoration: line-through;
}

.customer {
  background-color: #f3ead8;
  margin-bottom: 100px;
  padding: 6rem 0;
}

.customer_container {
  position: relative;
}

.container-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.slider-wrapper {
  width: 60rem;
  overflow: hidden;
}

.inner-wrapper {
  width: 200%;
  position: relative;
  left: -100%;
}

.slide {
  width: 50%;
  float: right;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide_item p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  color: #292621;
  font-weight: 400;
}
.slide_item h1 {
  font-size: 3.4rem;
  font-weight: 500;
  padding: 10px 0;
  color: #292621;
}
.slide_item_img {
  width: 65px;
  height: 65px;
  background-image: url("./image/homepage/founde.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide_content {
  display: flex;
  margin-top: 20px;
}
.slide_content_text {
  margin-left: 10px;
}

.button {
  top: 50%;
  font-size: 2.4rem;
  color: rgba(41, 38, 33, 0.3);
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.customer_slide {
  display: flex;
  align-items: center;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

.may_like {
  padding-bottom: 100px;
}
.may_like_header {
  font-family: "Jost", sans-serif;
  color: #292621;
  margin-top: 0px;
  font-style: normal;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 22px;
}

.blog {
  background: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 29px;
}
.blog_container {
  display: flex;
  flex-direction: _;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.blog_header {
  font-family: "Jost", sans-serif;
  color: #292621;
  margin-top: 0px;
  font-style: normal;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 22px;
}
.blog_item {
  width: 33.3%;
  margin: 20px 0;
  flex: 0 0 auto;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0 16px;
  transition: all 0.4s ease-in;
}
.blog_item:hover .blog_item_title {
  color: #ff2020;
}
.blog_item_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  margin-bottom: 25px;
}
.blog_item_img1 {
  background-image: url("./image/homepage/blog1.jpg.webp");
}
.blog_item_img2 {
  background-image: url("./image/homepage/blog2.jpg.webp");
}
.blog_item_img3 {
  background-image: url("./image/homepage/blog3.jpg.webp");
}
.blog_item_tag {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #74706b;
  margin-bottom: 11px;
  display: block;
}
.blog_item_title {
  font-size: 2.2rem;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: 500;
  display: block;
  color: #292621;
  outline: medium none;
}
.blog_item_text {
  font-weight: 400;
  line-height: 1.6;
  color: #74706b;
  margin-bottom: 14px;
}
.blog_item_readmore a {
  color: #292621;
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.bottom_info {
  padding-top: 70px;
  padding-bottom: 10px;
}
.bottom_info_container {
  display: flex;
  flex-direction: _;
  justify-content: center;
  align-items: center;
}
.bottom_info_item {
  width: 25%;
}
.bottom_info_item_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 5rem;
  margin: 0 auto;
  margin-bottom: 2.6rem;
}
.bottom_info_item_img1 {
  background-image: url(./image/homepage/services1.svg);
}
.bottom_info_item_img2 {
  background-image: url(./image/homepage/services2.svg);
}
.bottom_info_item_img3 {
  background-image: url(./image/homepage/services3.svg);
}
.bottom_info_item_img4 {
  background-image: url(./image/homepage/services4.svg);
}
.bottom_info_item_content {
  text-align: center;
}
.bottom_info_item_content p {
  color: #57667e;
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}
.bottom_info_item_content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
  text-transform: capitalize;
  color: #2b2b2b;
}

.scrollToTop {
  position: fixed;
  right: 25px;
  bottom: 18px;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  font-size: 1.3rem;
  color: white;
  text-align: right;
  background-color: red;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 50%;
}
.scrollToTop i {
  display: block;
}

.contact_title {
  position: relative;
  top: -70px;
  background-color: #f3ead8;
  padding: 50px 0;
}
.contact_title_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_title_main {
  color: hsl(37, 11%, 15%);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.contact_title_text {
  color: #74706b;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  padding: 0 10px;
}
.contact_title_text_border {
  border-right: 1px #74706b solid;
}

.get_in_touch {
  margin-top: 80px;
}

.get_in_touch_container {
  display: flex;
}

.contact_form {
  width: 83rem;
}
.contact_form textarea,
.contact_form input {
  font-family: inherit;
  padding: 14px 6px;
}
.contact_form_send {
  margin: 10px 0;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  border: 0;
  background: #fff;
  color: #ff2020;
  border: 1px solid #ff2020;
  text-align: center;
  cursor: pointer;
}
.contact_form textarea::-moz-placeholder, .contact_form input::-moz-placeholder {
  font-weight: 200;
  font-size: 1.3rem;
}
.contact_form textarea::placeholder,
.contact_form input::placeholder {
  font-weight: 200;
  font-size: 1.3rem;
}
.contact_form_mess {
  width: 98%;
  resize: none;
  overflow: hidden;
  border: 1px solid #e5e6e9;
  margin-bottom: 30px;
  background: transparent;
  height: 17rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.contact_form_inputs {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.contact_form_inputs_item {
  width: 46%;
}
.contact_form input {
  border: 1px solid #e5e6e9;
  background: transparent;
  width: 100%;
}
.contact_form_subj {
  margin-top: 30px;
  resize: none;
  overflow: hidden;
  border: 1px solid #e5e6e9;
  background: transparent;
  width: 98%;
}

.contact_info {
  margin-left: 12rem;
}
.contact_info_text {
  font-family: "Jost", sans-serif;
  color: #8a8a8a;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}
.contact_info_title {
  color: #2a2a2a;
  font-weight: 500;
  font-size: 2rem;
}
.contact_info_item {
  display: flex;
  flex-direction: _;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}
.contact_info_item i {
  font-size: 3rem;
  width: 50px;
  padding-right: 16px;
}

.warning_msg {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.cart {
  margin: 20px 0;
  position: relative;
  top: -50px;
}
.cart_container_prop {
  display: flex;
}
.cart_table {
  width: 100%;
  table-layout: fixed;
}
.cart_table_header_item {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #797979;
  border-bottom: 0px;
}
.cart_table_header_item th {
  padding: 0.5rem 0.5rem;
  padding-left: 0;
}
.cart_table_header_item_product {
  text-align: left;
}
.cart_table_image {
  display: flex;
  flex-direction: _;
  justify-content: flex-start;
  align-items: center;
}
.cart_table_image_item {
  width: 116px;
  height: 116px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 16px 0;
  border: none;
  border-radius: 20px;
}
.cart_table_image_title {
  padding: 0 16px;
}
.cart_table_quantity_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.cart_table_quantity_item .decrease_product {
  padding: 0 10px;
}
.cart_table_quantity_item .increase_product {
  padding: 0 10px;
}

.first_column {
  width: 56%;
}

tbody {
  font-family: "Jost", sans-serif;
  color: #301a22;
  font-size: 1.6rem;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}

tbody tr {
  border-bottom: 1px rgba(128, 128, 128, 0.197) solid;
}

.align_item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.cart_prop {
  margin-top: 20px;
}
.cart_prop_btn {
  background: #ff2020;
  font-family: "Jost", sans-serif;
  text-transform: inherit;
  padding: 22px 40px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-radius: 35px;
  line-height: 0;
  cursor: pointer;
}

.cart_prop_btn_center {
  margin-top: 10px;
}

.submit_product {
  font-size: 1.6rem;
  padding-left: 60px;
}
.submit_product_shipping div {
  margin: 5px 0;
}
.submit_product_delivery_country, .submit_product_delivery_state {
  width: 100%;
  display: block;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 10px;
}
.submit_product_delivery_country option, .submit_product_delivery_state option {
  color: #140c40;
  line-height: 20px;
}
.submit_product_promocode {
  display: block;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 10px;
}
.submit_product_total {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: flex-end;
}
.submit_product_total_title {
  font-weight: 500;
}

.total_price {
  font-size: 2rem;
  font-weight: 500;
}

.footer {
  font-size: 1.6rem;
  color: #fff;
  background-color: #171613;
}
.footer_container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}
.footer_container_prop {
  padding-top: 60px;
}
.footer_top {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
.footer_top_left_title {
  font-size: 2.4rem;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 12px;
}
.footer_top_middle {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: center;
  width: 41%;
}
.footer_top_middle input {
  width: 74%;
  height: 28px;
  border: 0;
  color: #000;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  padding: 15px 24px;
  font-size: 16px;
}
.footer_top_middle_btn {
  height: 60px;
  border: 0;
  background: #ff2020;
  border-radius: 0;
  padding: 13px 24px;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.footer_top_right {
  font-size: 2.4rem;
}
.footer_middle {
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 63px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
.footer_middle_logo2 {
  background-image: url("../sass/image/homepage/logo2_footer.png.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 4.8rem;
}
.footer_middle_center_title {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
  font-style: normal;
}
.footer_middle_center_text {
  color: #bbb9b5;
  font-weight: 400;
  font-size: 16px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  padding-bottom: 5px;
  margin-bottom: 8px;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
.footer_middle_center_text:hover {
  transform: scale(1.02);
  -webkit-text-decoration: underline #bbb9b5;
          text-decoration: underline #bbb9b5;
}
.footer_bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 39px;
  padding-bottom: 1px;
}
.footer_bottom p {
  color: #bbb9b5;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 15px;
}

.cart_table_quantity_item {
  font-size: 1.7rem;
}

.increase_product,
.decrease_product {
  cursor: pointer;
}

.empty_cart {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty_cart p {
  font-size: 6rem;
  padding: 10px 0;
  color: #d5cdbc;
}
.empty_cart button {
  font-size: 2rem;
  background-color: #ff2020;
  color: white;
  padding: 16px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.header_middle_left_menu {
  display: none;
}

.header_middle_nav_pages_item li {
  margin-left: 4px;
}

.header_middle_nav_right_angle {
  display: none;
}

.header_middle_logo2 {
  display: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .header_middle_nav_list li a {
    margin: 0 10px;
  }
  .product_items {
    height: 300px;
  }
  .contact_info {
    margin-left: 6rem;
  }
  .prev {
    left: 8%;
  }
  .next {
    right: 8%;
  }
}
@media screen and (max-width: 992px) {
  .header_top_list_item {
    margin-right: 0;
  }
  .header_top_contact {
    display: flex;
    flex-direction: _;
    justify-content: space-between;
    align-items: center;
  }
  .header_middle_left_menu {
    display: block;
  }
  .header_middle_container {
    position: relative;
  }
  .header_middle_nav {
    width: 100%;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
  }
  .header_middle_nav_list {
    display: block;
    margin: 10px 0;
  }
  .header_middle_nav_list li {
    margin: 10px 5px;
  }
  .header_middle_nav_angle {
    display: none;
  }
  .header_middle_nav_right_angle {
    display: block;
  }
  .header_middle_nav_pages:hover,
  .header_middle_nav_pages_item {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .header_middle_nav_pages_item {
    display: none;
  }
  .swiper {
    height: 500px;
  }
  .banner_text_container {
    top: 24%;
  }
  .banner_text_container_left {
    left: 30%;
  }
  .get_in_touch_container {
    flex-direction: column;
  }
  .contact_info {
    margin-top: 20px;
    margin-left: 0;
  }
  .footer_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_top_left {
    text-align: center;
  }
  .footer_top_middle {
    width: 100%;
    padding: 20px 0;
  }
  .footer_top_middle input {
    width: 100%;
  }
  .contact_form {
    width: 100%;
  }
  .cart_container_prop {
    flex-direction: column;
  }
  .submit_product {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }
  .submit_product select {
    margin-bottom: 10px;
  }
  .cart_prop_btn1 {
    display: none;
  }
  .blog_item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .header_top_container {
    display: block;
  }
  .header_top_list {
    display: none;
  }
  .swiper {
    height: 400px;
  }
  .banner_text_container_left {
    left: 12%;
  }
  .category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 670px) {
  .select_btn {
    display: none;
  }
  .cart_table_image {
    display: flex;
    flex-direction: column;
    justify-content: _;
    align-items: baseline;
  }
  .first_column {
    width: 40%;
  }
  .cart_table_image_title {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .modal_submit_login {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .modal_submit {
    flex-direction: column;
  }
  .modal_form_password_input,
  .modal_form_email_input {
    width: 30rem;
  }
  .banner_text_container {
    position: static;
  }
  .banner_text {
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
  }
  .contact_title {
    padding: 20px 0;
  }
  .header_bottom {
    display: none;
  }
  .blog_item {
    width: 100%;
  }
  .bottom_info_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }
  .bottom_info_item {
    width: 100%;
  }
  .empty_cart p {
    font-size: 4rem;
  }
  .empty_cart button {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .footer_middle {
    flex-direction: column;
    padding-top: 20px;
  }
}
@media screen and (max-width: 470px) {
  .hide_arrow_btn {
    display: none;
  }
  .header_top_contact ul {
    display: none;
  }
  .header_top_icons {
    margin: 0 auto;
  }
  .header_middle_container {
    padding: 0;
    padding-bottom: 10px;
  }
  .header_middle_right_icon {
    margin: 0 8px;
  }
  .header_middle_left_menu {
    padding-right: 10px;
  }
  .banner_text {
    padding-top: 20px;
  }
  .banner_text_info {
    padding: 0;
  }
  .product_items {
    height: 440px;
  }
  .mySwiper2 {
    height: auto;
  }
  .header_middle_container {
    padding: 20px 0;
  }
  .contact_form_mess {
    height: 8rem;
  }
}
@media screen and (max-width: 370px) {
  .category_item_details {
    width: 90%;
  }
  iframe {
    height: 300px !important;
  }
  .header_middle_logo {
    display: none;
  }
  .header_middle_logo2 {
    display: block;
    margin: 0 auto;
  }
  .cart_table_image_item {
    width: 80px;
    height: 80px;
  }
  .first_column {
    width: 30%;
  }
  .submit_product {
    flex-direction: column;
  }
  .prev {
    left: 4%;
  }
  .next {
    right: 4%;
  }
}
.container,
.container_text,
.cart_container,
.customer_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 290px) {
  .container {
    max-width: 94%;
  }
  .cart_container {
    max-width: 100%;
  }
  .button {
    top: 70%;
  }
}
@media screen and (min-width: 450px) {
  .container {
    max-width: 90%;
  }
  .button {
    top: 60%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .cart_container {
    max-width: 90%;
  }
  .customer_container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .customer_container {
    max-width: 800px;
  }
}
@media screen and (min-width: 992px) {
  .container,
  .cart_container {
    max-width: 960px;
  }
  .customer_container {
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .container_text,
  .cart_container {
    max-width: 1140px;
  }
  .customer_container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1400px) {
  .container,
  .container_text,
  .cart_container {
    max-width: 1320px;
  }
  .customer_container {
    max-width: 1000px;
  }
}/*# sourceMappingURL=main.css.map */