// ******************************************
// Max Width

.header_middle_left_menu {
  display: none;
}
.header_middle_nav_pages_item li {
  margin-left: 4px;
}
.header_middle_nav_right_angle {
  display: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }

  .header_middle_nav_list li {
    margin: 0 10px;
  }
  .product_items {
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  .header_top_list_item {
    margin-right: 0;
  }

  .header_top_contact {
    @include d-flex(_, space-between, center);
  }

  .header_middle_left_menu {
    display: block;
  }

  .header_middle_container {
    position: relative;
  }

  .header_middle_nav {
    width: 100%;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    position: absolute;
    top: 99%;
    left: 0;
    right: 0;

    &_list {
      display: block;
      margin: 10px 0;
      & li {
        margin: 10px 5px;
      }
    }
  }

  .header_middle_nav_angle {
    display: none;
  }

  .header_middle_nav_right_angle {
    display: block;
  }

  .header_middle_nav_pages:hover,
  .header_middle_nav_pages_item {
    clip-path: none;
  }
  .header_middle_nav_pages_item {
    display: none;
  }

  .swiper {
    height: 500px;
  }

  .banner_text_container {
    top: 24%;
  }

  .banner_text_container_left {
    left: 30%;
  }

  .category_item_details {
    height: 26rem;
  }
}

@media screen and (max-width: 768px) {
  .header_top_container {
    display: block;
  }

  .header_top_list {
    display: none;
  }
  .swiper {
    height: 400px;
  }

  .banner_text_container_left {
    left: 12%;
  }
  .category_item {
    @include d-flex(column, center, center);
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .modal_submit_login {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .modal_submit {
    flex-direction: column;
  }
  .modal_form_password_input,
  .modal_form_email_input {
    width: 30rem;
  }
  .swiper {
    height: 360px;
  }
  .banner_text_container {
    position: static;
  }
  .banner_text {
    margin: 0 auto;
    padding-top: 50px;
  }
}

// Container Property
.container,
.container_text {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .container_text {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container,
  .container_text {
    max-width: 1320px;
  }
}
