// ******************************************
// Max Width

.header_middle_left_menu {
  display: none;
}
.header_middle_nav_pages_item li {
  margin-left: 4px;
}
.header_middle_nav_right_angle {
  display: none;
}
.header_middle_logo2 {
  display: none;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .header_middle_nav_list li a {
    margin: 0 10px;
  }
  .product_items {
    height: 300px;
  }
  .contact_info {
    margin-left: 6rem;
  }
  .prev {
    left: 8%;
  }
  .next {
    right: 8%;
  }
}

@media screen and (max-width: 992px) {
  .header_top_list_item {
    margin-right: 0;
  }
  .header_top_contact {
    @include d-flex(_, space-between, center);
  }
  .header_middle_left_menu {
    display: block;
  }
  .header_middle_container {
    position: relative;
  }
  .header_middle_nav {
    width: 100%;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    position: absolute;
    top: 99%;
    left: 0;
    right: 0;

    &_list {
      display: block;
      margin: 10px 0;
      & li {
        margin: 10px 5px;
      }
    }
  }
  .header_middle_nav_angle {
    display: none;
  }
  .header_middle_nav_right_angle {
    display: block;
  }
  .header_middle_nav_pages:hover,
  .header_middle_nav_pages_item {
    clip-path: none;
  }
  .header_middle_nav_pages_item {
    display: none;
  }
  .swiper {
    height: 500px;
  }
  .banner_text_container {
    top: 24%;
  }
  .banner_text_container_left {
    left: 30%;
  }
  .get_in_touch_container {
    flex-direction: column;
  }
  .contact_info {
    margin-top: 20px;
    margin-left: 0;
  }
  .footer_top {
    @include d-flex(column, center, center);
    &_left {
      text-align: center;
    }
    &_middle {
      width: 100%;
      padding: 20px 0;
      & input {
        width: 100%;
      }
    }
  }
  .contact_form {
    width: 100%;
  }

  .cart_container_prop {
    flex-direction: column;
  }
  .submit_product {
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    & select {
      margin-bottom: 10px;
    }
  }
  .cart_prop_btn1 {
    display: none;
  }
  .blog_item {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header_top_container {
    display: block;
  }
  .header_top_list {
    display: none;
  }
  .swiper {
    height: 400px;
  }
  .banner_text_container_left {
    left: 12%;
  }
  .category_item {
    @include d-flex(column, center, center);
  }
  .product_header {
    @include d-flex(column, flex-start, center);
  }
}

@media screen and (max-width: 670px) {
  .select_btn {
    display: none;
  }
  .cart_table_image {
    @include d-flex(column, _, baseline);
  }
  .first_column {
    width: 40%;
  }
  .cart_table_image_title {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .modal_submit_login {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .modal_submit {
    flex-direction: column;
  }
  .modal_form_password_input,
  .modal_form_email_input {
    width: 30rem;
  }
  // .swiper {
  //   height: 360px;
  // }
  .banner_text_container {
    position: static;
  }
  .banner_text {
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
  }
  .contact_title {
    padding: 20px 0;
  }
  .header_bottom {
    display: none;
  }
  .blog_item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .footer_middle {
    flex-direction: column;
    padding-top: 20px;
  }
}

@media screen and (max-width: 470px) {
  .hide_arrow_btn {
    display: none;
  }
  .header_top_contact ul {
    display: none;
  }
  .header_top_icons {
    margin: 0 auto;
  }
  .header_middle_container {
    padding: 0;
    padding-bottom: 10px;
  }
  .header_middle_right_icon {
    margin: 0 8px;
  }
  .header_middle_left_menu {
    padding-right: 10px;
  }
  .banner_text {
    padding-top: 20px;
    &_info {
      padding: 0;
    }
  }

  .mySwiper2 {
    height: auto;
  }
  .header_middle_container {
    padding: 20px 0;
  }
  .contact_form_mess {
    height: 8rem;
  }
}

@media screen and (max-width: 370px) {
  .category_item_details {
    width: 90%;
  }
  iframe {
    height: 300px !important;
  }
  .header_middle_logo {
    display: none;
  }
  .header_middle_logo2 {
    display: block;
    margin: 0 auto;
  }
  .cart_table_image_item {
    width: 80px;
    height: 80px;
  }
  .first_column {
    width: 30%;
  }
  .submit_product {
    flex-direction: column;
  }

  .prev {
    left: 4%;
  }
  .next {
    right: 4%;
  }
}

// Container Property
.container,
.container_text,
.cart_container,
.customer_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 290px) {
  .container {
    max-width: 94%;
  }
  .cart_container {
    max-width: 100%;
  }
  // .customer_container {
  //   width: 34rem;
  // }
  .button {
    top: 70%;
  }
}
@media screen and (min-width: 450px) {
  .container {
    max-width: 90%;
  }
  // .customer_container {
  //   width: 40rem;
  // }
  .button {
    top: 60%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .cart_container {
    max-width: 90%;
  }
  .customer_container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .customer_container {
    max-width: 800px;
  }
}
@media screen and (min-width: 992px) {
  .container,
  .cart_container {
    max-width: 960px;
  }
  .customer_container {
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .container_text,
  .cart_container {
    max-width: 1140px;
  }
  .customer_container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1400px) {
  .container,
  .container_text,
  .cart_container {
    max-width: 1320px;
  }
  .customer_container {
    max-width: 1000px;
  }
}
