@import "../abstracts/mixin";
@import "../abstracts/variable";

// Add To Cart Section Start
.cart {
  margin: 20px 0;
  position: relative;
  top: -50px;
  &_container_prop {
    display: flex;
  }

  &_table {
    width: 100%;
    table-layout: fixed;

    &_header {
      &_item {
        border-top: 0px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        color: #797979;
        border-bottom: 0px;
        & th {
          padding: 0.5rem 0.5rem;
          padding-left: 0;
        }

        &_product {
          text-align: left;
        }
      }
    }

    &_image {
      @include d-flex(_, flex-start, center);
      &_item {
        // background-image: url("/assets/Styles/sass/image/homepage/latest1.jpg.webp");
        width: 116px;
        height: 116px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 16px 0;
        border: none;
        border-radius: 20px;
      }

      &_title {
        padding: 0 16px;
      }
    }

    &_quantity {
      &_item {
        @include d-flex(row, center, center);
        font-size: 1.6rem;

        .decrease_product {
          padding: 0 10px;
        }
        .increase_product {
          padding: 0 10px;
        }
      }
    }
  }
}
.first_column {
  width: 56%;
}
tbody {
  font-family: "Jost", sans-serif;
  color: #301a22;
  font-size: 1.6rem;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}
tbody tr {
  border-bottom: 1px rgba(128, 128, 128, 0.197) solid;
}
.align_item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.cart_prop {
  margin-top: 20px;
  &_btn {
    background: #ff2020;
    font-family: "Jost", sans-serif;
    text-transform: inherit;
    padding: 22px 40px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    line-height: 0;
    cursor: pointer;
  }
}
.cart_prop_btn_center {
  margin-top: 10px;
}

// Add To Cart Section End

// Submit Start
.submit_product {
  font-size: 1.6rem;
  padding-left: 60px;

  &_shipping div {
    margin: 5px 0;
  }

  &_delivery_country,
  &_delivery_state {
    width: 100%;
    display: block;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-left: 10px;

    & option {
      color: #140c40;
      line-height: 20px;
    }
  }

  &_promocode {
    display: block;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-left: 10px;
  }

  &_total {
    @include d-flex(_, space-between, flex-end);
    &_title {
      font-weight: 500;
    }
  }
}

.total_price {
  font-size: 2rem;
  font-weight: 500;
}

// Submit End

// Footer Start
.footer {
  font-size: 1.6rem;
  color: #fff;
  background-color: #171613;

  &_container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
  }

  &_container_prop {
    padding-top: 60px;
  }

  &_top {
    @include d-flex(_, space-between, center);
    padding-bottom: 40px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);

    &_left {
      &_title {
        font-size: 2.4rem;
        color: #fff;
        font-family: "Jost", sans-serif;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 12px;
      }
    }

    &_middle {
      @include d-flex(_, space-between, center);
      width: 41%;
      & input {
        width: 74%;
        height: 28px;
        border: 0;
        color: #000;
        background: #fff;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0;
        padding: 15px 24px;
        font-size: 16px;
      }
      &_btn {
        height: 60px;
        border: 0;
        background: #ff2020;
        border-radius: 0;
        padding: 13px 24px;
        color: #fff;
        margin-left: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
      }
    }

    &_right {
      font-size: 2.4rem;
    }
  }

  &_middle {
    @include d-flex(_, space-between, flex-start);
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 63px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    &_logo2 {
      background-image: url("../sass/image/homepage/logo2_footer.png.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 20rem;
      height: 4.8rem;
    }

    &_center {
      &_title {
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 400;
        font-style: normal;
      }

      &_text {
        color: #bbb9b5;
        font-weight: 400;
        font-size: 16px;
        text-decoration: underline transparent;
        padding-bottom: 5px;
        margin-bottom: 8px;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
          text-decoration: underline #bbb9b5;
        }
      }
    }
  }

  &_bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
    padding-top: 39px;
    padding-bottom: 1px;

    & p {
      color: #bbb9b5;
      font-weight: 300;
      font-size: 16px;
      line-height: 2;
      margin-bottom: 15px;
    }
  }
}

.cart_table_quantity_item {
  font-size: 1.7rem;
}
.increase_product,
.decrease_product {
  cursor: pointer;
}
// Footer End

// Empty start

.empty_cart {
  padding: 60px 0;
  @include d-flex(column, center, center);
  & p {
    font-size: 6rem;
    padding: 10px 0;
    color: #d5cdbc;
  }

  & button {
    font-size: 2rem;
    background-color: #ff2020;
    color: white;
    padding: 16px 10px;
    border-radius: 20px;
    font-weight: 600;
  }
}
// Empty end

.display_none_msg {
  display: none;
}