@import "../abstracts/mixin";
@import "../abstracts/variable";

//***********************
//Header Top Section Start

.header_top {
  background-color: #fff;
  padding: 8px 0;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.103);

  &_container {
    @include d-flex(_, space-between, center);
  }

  &_list {
    &_item {
      margin-right: 15px;
      padding-right: 15px;
      line-height: 1.5em;
      color: $color-main-black;
      cursor: pointer;
    }
  }

  &_contact {
    @include d-flex(_, center, center);
    &_item {
      color: $color-main-black;
      border-right: 1px rgba(128, 128, 128, 0.236) solid;

      margin-right: 15px;
      padding-right: 15px;
      line-height: 1.5em;
      cursor: pointer;
    }
  }

  &_icons {
    color: $color-main-gray;
    &_prop {
      cursor: pointer;
      margin-right: 16px;
    }

    &_prop:hover {
      transition: all 0.4s ease-in-out 0s;
      transform: rotateY(0.5turn);
      color: $color-main-orange;
    }
  }
}

//Header Top Section End
//**********************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Header Middle Section Start
.header_middle {
  // position: sticky;
  // top: 34px;
  padding: 12px 0;
  font-size: 1.6rem;
  background-color: #fff;

  &_container {
    @include d-flex(_, space-between, center);
    padding: 20px 0;
  }

  &_logo,
  &_logo2 {
    background-image: url("../sass/image/homepage/headerLogo.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 4.8rem;
  }

  &_logo2 {
    margin: 0 auto;
  }

  .header_middle_nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all 0.4s linear;
  }

  &_nav {
    z-index: 999;
    &_pages {
      display: flex;
      position: relative;

      &_title {
        display: flex;
      }

      &:hover {
        .header_middle_nav_pages_item {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          transition: all 0.4s linear;
        }
      }

      &_item {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background-color: #fff;

        position: absolute;
        top: 110%;
        width: 20rem;
        padding: 5px 0;
        left: 20px;

        border: none;
        border-top: 3px solid $color-main-orange;
        border-radius: 4px;
      }
    }

    &_angle {
      padding-left: 10px;
      font-size: 10px;
    }
    &_right_angle {
      font-size: 10px;
      padding-left: 10px;
    }

    &_list {
      @include d-flex(_, center, center);
      & li a {
        color: #141517;
        margin: 0 20px;
        font-weight: 600;
        line-height: 1.5em;
        cursor: pointer;
      }

      & li {
        color: #141517;
        font-weight: 600;
        line-height: 1.5em;
        cursor: pointer;
      }

      & li:hover {
        color: $color-main-orange;
        transition: all 0.2s linear;
      }

      .new {
        position: relative;
        display: inline-block;
      }
      .new::before {
        content: "New";
        position: absolute;
        background: #ff2020;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        font-size: 10px;
        top: -12px;
        right: -10px;
        padding: 1px 4px;
        letter-spacing: 3px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &_left {
    @include d-flex(_, center, center);

    &_menu {
      padding-right: 30px;

      &_bar {
        font-size: 20px;
      }
      &_bar.fa-times {
        transform: rotate(180deg);
      }
    }
  }

  &_right {
    @include d-flex(_, center, center);
    &_icon {
      margin: 0 20px;

      &_prop:hover {
        color: $color-main-orange;
        transition: all 0.2s linear;
        cursor: pointer;
      }

      &_prop {
        font-size: 20px;
        font-weight: 400;
        color: #292621;
      }
    }

    &_shopping_cart {
      position: relative;
    }

    &_cart_count {
      position: absolute;
      right: -14px;
      top: -18px;
      background-color: $color-main-orange;
      border-radius: 50%;
      padding: 1px 7px;
      font-size: 12px;
      color: white;
    }
  }

  .search_box {
    position: relative;
    z-index: 300;
    margin-top: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    &_prop {
      @include d-flex(_, space-between, center);
      position: relative;
    }

    &_xmark {
      position: absolute;
      right: 20px;
      color: #fff;
      font-size: 16px;
      padding: 0 10px;
      cursor: pointer;
    }

    &_input {
      background-color: $color-main-orange;
      color: white;
      border: none;
      padding: 0;
      width: 100%;
      padding: 16px 14px;
      &::placeholder {
        font-weight: 500;
        color: white;
      }
    }
  }
  .search_box.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all 0.4s linear;
  }
  .search_box.close {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.4s linear;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;

  &_header {
    text-align: center;

    & h2 {
      padding: 15px 0;
    }
  }

  .modal_xmark {
    color: $color-main-orange;
    font-size: 30px;
    top: 16px;
  }

  &_check {
    padding: 15px 0;
    @include d-flex(row, space-between, center);

    &_input {
      & input {
        accent-color: $color-main-orange;
        width: 20px;
        height: 16px;
      }
      & label {
        font-style: 1.7rem;
        font-weight: 500;
      }
    }
  }

  &_submit {
    margin-top: 60px;
    @include d-flex(row, space-between, center);
    &_que {
      & span {
        & a {
          color: $color-main-orange;
          cursor: pointer;
        }
      }
    }

    &_login {
      color: white;
      background-color: $color-main-orange;
      cursor: pointer;
      padding: 10px 20px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.5s;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  border: none;
  background: none;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal_form {
  padding-top: 60px;

  &_username {
    @include d-flex(column, center, flex-start);

    & label {
      font-style: 1.7rem;
      font-weight: 500;
    }

    & input::placeholder {
      color: rgba(128, 128, 128, 0.434);
    }
  }
  &_password {
    @include d-flex(column, center, flex-start);
    padding-top: 1.2rem;

    & div {
      font-size: 1.2rem;
      overflow: hidden;
    }

    & label {
      font-style: 1.7rem;
      font-weight: 500;
    }

    & input::placeholder {
      color: rgba(128, 128, 128, 0.434);
    }
  }

  &_email {
    @include d-flex(column, center, flex-start);

    & label {
      font-style: 1.7rem;
      font-weight: 500;
    }

    padding-top: 1.2rem;
    & input::placeholder {
      color: rgba(128, 128, 128, 0.434);
    }
  }

  &_email_input {
    width: 50rem;
    padding: 10px;
    border: 1px rgba(128, 128, 128, 0.19) solid;
    margin-top: 10px;
  }
  &_password_input {
    width: 50rem;
    padding: 10px;
    border: 1px rgba(128, 128, 128, 0.19) solid;
    margin-top: 10px;
  }
}

.register_warn_msg {
  opacity: 0;

  color: $color-main-orange;
  transition: all 0.4s ease-in;
}

.modal {
  overflow-y: auto;
  max-height: 100%;
}

.modal_forgot_passw {
  cursor: pointer;
  color: $color-main-orange;
}

.fixed_header {
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.271);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
}

//Header Middle Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Header Bottom Section Start

.header_bottom {
  z-index: 50;
  background-color: #16161a;
  position: relative;
  top: -47px;
  &_text {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    padding: 12px 0;

    & span {
      color: #cebd9c;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

//Header Bottom Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Banner Slider Section Start

.banner {
  position: relative;
  top: -74px;
}

.swiper {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.image1 {
  background-image: url("../sass/image/homepage/h1_hero1.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image2 {
  background-image: url("../sass/image/homepage/h1_hero2.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_text {
  width: 54rem;

  & h2 {
    font-family: "Clicker Script", cursive;
    font-size: 5rem;
    color: #ff2020;
    line-height: 1.2em;
  }

  &_title {
    font-size: 5rem;
    font-weight: 500;

    // animation: bounce 3.6s infinite linear;
    // animation-delay: 0.2s;
  }

  &_info {
    font-size: 1.8rem;
    font-weight: 400;
    color: #74706b;
    line-height: 1.6em;
    padding: 0 50px;
    margin-bottom: 30px;
  }
}

.banner_button {
  font-size: 1.4rem;
  padding: 15px 47px;
  line-height: 1.2em;
  font-weight: 500;
  background-color: #292621;
}

.banner_text_container {
  position: relative;
  top: 38%;
}

.banner_text_container_left {
  left: 40%;
}

.banner_text_title {
  --animate-duration: 1.5s;
  --animate-delay: 0.2s;
}

//Banner Slider Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Category Section Start
.category {
  &_item {
    @include d-flex(_, center, center);

    & h3 {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2em;
      margin: 10px 0;
    }

    & a {
      font-size: 1.6rem;
      font-weight: 500;
      color: #cebd9c;
      text-decoration: underline;
      cursor: pointer;
      padding: 10px 0;

      transition: all 0.4s ease-out 0s;

      opacity: 0;
      visibility: hidden;
    }

    &_men {
      background-image: linear-gradient(
          to bottom,
          rgba(41, 38, 33, 0) 40%,
          #292621 100%
        ),
        url("../sass/image/homepage/items1.jpg.webp");
      width: 41rem;
      height: 36rem;
    }

    &_women {
      background-image: linear-gradient(
          to bottom,
          rgba(41, 38, 33, 0) 40%,
          #292621 100%
        ),
        url("../sass/image/homepage/items2.jpg.webp");
      width: 41rem;
      height: 36rem;
    }

    &_baby {
      background-image: linear-gradient(
          to bottom,
          rgba(41, 38, 33, 0) 40%,
          #292621 100%
        ),
        url("../sass/image/homepage/items3.jpg.webp");
      width: 41rem;
      height: 36rem;
    }

    &_details {
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 12px;

      @include d-flex(column, flex-end, center);
    }
  }
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.category_item_details:hover {
  .category_item_details_btn {
    opacity: 1;
    visibility: visible;
    padding-bottom: 40px;
  }
}
.category_item_details:hover {
  transform: scale(1.02);
  transition: all 0.2s linear;
}
//Category Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Product Section Start
.mySwiper2,
.mySwiper3 {
  width: 100%;
  // height: 440px;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_button_prop {
  background-color: #00000017;
  padding: 50px 25px;
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}

.swiper_button_prop2 {
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}

.product_items {
  // background-image: url("../sass/image/homepage/latest1.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  cursor: pointer;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;

  &_prop {
    background-color: #fff;
    display: none;
  }

  &_prop i {
    font-size: 3rem;
    padding: 8px 10px;
    color: #292621;
  }
}

.product_items:hover {
  transition: all 0.4s linear;
  transform: scale(1.04);
  .product_items_prop {
    display: inline-block;
  }
}

.hover_icon_prop:hover {
  transition: all 0.4s linear;
  background-color: $color-main-orange;
  color: white;
}
.product {
  margin: 80px 0;

  &_header {
    @include d-flex(_, space-between, center);
    margin-bottom: 60px;
    border-bottom: 1px solid #74706b;

    & h1 {
      font-size: 3.4rem;
      color: #292621;
      font-size: 34px;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    &_category {
      @include d-flex(_, center, center);
      color: #292621;
      font-size: 1.6rem;
      font-weight: 500;

      & p {
        border: 0;
        transition: all 0.1s linear;
        border-bottom: 4px solid transparent;
        background: none;
        margin-right: 15px;
        padding: 39px 1.2rem;
        padding-top: 0;
        color: #141517;
        cursor: pointer;
      }
      & p:hover {
        color: $color-main-orange;
        border-bottom: 4px solid $color-main-orange;
      }
    }
  }
}
.product_cart {
  @include d-flex(column, center, center);
}
.product_text {
  color: #292621;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 14px 0;
}
.product_price {
  @include d-flex(_, center, center);

  .product_new_price {
    margin-right: 10px;
    color: #74706b;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
  }
  .product_old_price {
    margin-left: 10px;
    color: #cebd9c;
    text-decoration: line-through;
  }
}

//Product Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Customer Section Start
.customer {
  background-color: #f3ead8;
  margin-bottom: 100px;
  padding: 6rem 0;
}
.customer_container {
  position: relative;
}

.container-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.slider-wrapper {
  width: 60rem;
  overflow: hidden;
}

.inner-wrapper {
  width: 200%;
  position: relative;
  left: -100%;
}

.slide {
  width: calc(100% / 2);
  float: right;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
      text-align: center;
      line-height: 1.5;
      margin-bottom: 3.2rem;
      font-size: 2.2rem;
      color: #292621;
      font-weight: 400;
    }
    & h1 {
      font-size: 3.4rem;
      font-weight: 500;
      padding: 10px 0;
      color: #292621;
    }

    &_img {
      width: 65px;
      height: 65px;
      background-image: url("/assets/Styles/sass/image/homepage/founde.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &_content {
    display: flex;
    margin-top: 20px;

    &_text {
      margin-left: 10px;
    }
  }
}

.button {
  top: 50%;
  font-size: 2.4rem;
  color: rgba(41, 38, 33, 0.3);
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.customer_slide {
  display: flex;
  align-items: center;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

//Customer Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//May Like Section Start

.may_like {
  padding-bottom: 100px;
  &_header {
    font-family: "Jost", sans-serif;
    color: #292621;
    margin-top: 0px;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 22px;
  }
}
//May Like Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Blog Section Start
.blog {
  background: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 29px;
  &_container {
    @include d-flex(_, flex-start, center);
    flex-wrap: wrap;
  }

  &_header {
    font-family: "Jost", sans-serif;
    color: #292621;
    margin-top: 0px;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 22px;
  }

  &_item {
    width: 33.3%;
    margin: 20px 0;
    flex: 0 0 auto;

    cursor: pointer;
    font-size: 1.6rem;
    padding: 0 16px;
    transition: all 0.4s ease-in;

    &:hover {
      .blog_item_title {
        color: $color-main-orange;
      }
    }

    &_img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 30rem;
      margin-bottom: 25px;
    }

    &_img1 {
      background-image: url("/assets/Styles/sass/image/homepage/blog1.jpg.webp");
    }

    &_img2 {
      background-image: url("/assets/Styles/sass/image/homepage/blog2.jpg.webp");
    }

    &_img3 {
      background-image: url("/assets/Styles/sass/image/homepage/blog3.jpg.webp");
    }

    &_tag {
      font-weight: normal;
      font-style: normal;
      line-height: 1.5;
      color: #74706b;
      margin-bottom: 11px;
      display: block;
    }

    &_title {
      font-size: 2.2rem;
      line-height: 1.4;
      margin-bottom: 12px;
      font-weight: 500;
      display: block;
      color: #292621;
      outline: medium none;
    }

    &_text {
      font-weight: 400;
      line-height: 1.6;
      color: #74706b;
      margin-bottom: 14px;
    }

    &_readmore a {
      color: #292621;
      text-decoration: underline;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
}
//Blog Section End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//***************************
//Section Bottom Info Start
.bottom_info {
  padding-top: 70px;
  padding-bottom: 10px;
  &_container {
    @include d-flex(_, center, center);
  }

  &_item {
    width: 25%;
    &_img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 7rem;
      height: 5rem;
      margin: 0 auto;
      margin-bottom: 2.6rem;
    }
    &_img1 {
      background-image: url(/assets/Styles/sass/image/homepage/services1.svg);
    }
    &_img2 {
      background-image: url(/assets/Styles/sass/image/homepage/services2.svg);
    }
    &_img3 {
      background-image: url(/assets/Styles/sass/image/homepage/services3.svg);
    }
    &_img4 {
      background-image: url(/assets/Styles/sass/image/homepage/services4.svg);
    }

    &_content {
      text-align: center;
      & p {
        color: #57667e;
        font-size: 1.6rem;
        margin-bottom: 15px;
        font-weight: 400;
        line-height: 1.6;
      }

      & h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 12px;
        display: block;
        text-transform: capitalize;
        color: #2b2b2b;
      }
    }
  }
}
//Section Bottom Info End
//***************************

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
